/* General Styles */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Form Container */
.container {
  background-color: #ffffff;
  padding: 2rem;
  width: 50%;
  max-width: 500px;
  margin: 2rem auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Headings */
header {
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 1rem;
  background: linear-gradient(45deg,  #092d53, #84c2e5);
  background-clip: text;
  color: transparent;
}

/* Input Fields */
input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
}

input:focus, select:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Labels */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color:#092d53;
}

/* Submit Button */
#submit-btn {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#submit-btn:hover {
  background-color: #218838;
}
