doctype html
html
  head
    link(rel="stylesheet" href="/styles.css") 
  body
    h1 Welcome To Employees Table
    table
      thead
        tr
          each key in Object.keys(employees[0]).filter((key) => key !== "ID")
            th= key
      tbody
        each employee in employees
          tr
            each key in Object.keys(employees[0]).filter((key) => key !== "ID")
              td= employee[key]
